body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  margin: 15px;
}

#signError,
#createError {
  color: red;
}
